In [1]:
import pandas as pd
import time
import nba_api.stats.endpoints as nbaapi
from nba_api.stats.endpoints import *
import allintwo as allintwo

### 
testplayer='203076'
testgame = '0022201200'
testteam = '1610612755'

In [17]:
## adds the connection
conn = allintwo.connect_to_rds('thebigone', 'ajwin', 'CharlesBark!23', 'nba-rds-instance.c9wwc0ukkiu5.us-east-1.rds.amazonaws.com')

## Naming stuff
index = 0
func = boxscoreadvancedv3.BoxScoreAdvancedV3

def games_createandinsert(func,index):
    param = testgame
    dfname = list(func.expected_data.keys())[index]

    # need to replace with the endpoint class
    namepre = func.__name__.lower()
    name = namepre+"_"+dfname.lower()

    df = func(param).get_data_frames()[index]

    ### Creates Table if none exists
    allintwo.create_table(conn,name,df)

    gameslist = allintwo.game_difference(conn,name)

    for i in gameslist:
        try:
            tdf = func(i).get_data_frames()[index]
            allintwo.insert_dataframe_to_rds(conn,tdf,name)
            #print(i)
            time.sleep(1)
        except Exception as e:
            fdf = pd.DataFrame({"gameid":[i]})
            allintwo.insert_dataframe_to_rds(conn,fdf,name)
            print("An error occurred:", e)

games_createandinsert(func,index)

Connected to RDS PostgreSQL database
Master table boxscoreadvancedv3_playerstats created successfully or already exists.
Data inserted successfully into boxscoreadvancedv3_playerstats table.
An error occurred: 'NoneType' object has no attribute 'keys'
Data inserted successfully into boxscoreadvancedv3_playerstats table.
Data inserted successfully into boxscoreadvancedv3_playerstats table.
An error occurred: 'NoneType' object has no attribute 'keys'
Data inserted successfully into boxscoreadvancedv3_playerstats table.
An error occurred: 'NoneType' object has no attribute 'keys'
Data inserted successfully into boxscoreadvancedv3_playerstats table.
Data inserted successfully into boxscoreadvancedv3_playerstats table.
Data inserted successfully into boxscoreadvancedv3_playerstats table.
An error occurred: 'NoneType' object has no attribute 'keys'
Data inserted successfully into boxscoreadvancedv3_playerstats table.
Data inserted successfully into boxscoreadvancedv3_playerstats table.
Data inserted successfully into boxscoreadvancedv3_playerstats table.
Data inserted successfully into boxscoreadvancedv3_playerstats table.
Data inserted successfully into boxscoreadvancedv3_playerstats table.

KeyboardInterrupt:

In [5]:
conn.close()

In [13]:

conn = allintwo.connect_to_rds('thebigone', 'ajwin', 'CharlesBark!23', 'nba-rds-instance.c9wwc0ukkiu5.us-east-1.rds.amazonaws.com')

query = "SELECT * FROM boxscoreadvancedv3_0;"  # Example query: fetch 10 rows from the 'games' table

result_df = allintwo.query_database_to_dataframe(conn, query)

result_df

Connected to RDS PostgreSQL database

c:\Users\ajwin\Projects\NBA\thebigone\allintwo.py:103: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframe = pd.read_sql(query, conn)

,gameid,teamid,teamcity,teamname,teamtricode,teamslug,personid,firstname,familyname,namei,...,turnoverratio,effectivefieldgoalpercentage,trueshootingpercentage,usagepercentage,estimatedusagepercentage,estimatedpace,pace,paceper40,possessions,pie
0,2021500216,1.612710e+09,Fort Wayne,Mad Ants,FWN,mad-ants,204136.0,Marcus,Simmons,M. Simmons,...,13.3,0.222,0.222,0.138,0.138,101.05,98.68,82.24,66.0,0.077
1,2021500216,1.612710e+09,Fort Wayne,Mad Ants,FWN,mad-ants,203927.0,CJ,Fair,C. Fair,...,10.7,0.476,0.503,0.278,0.277,105.08,100.48,83.73,73.0,0.162
2,2021500216,1.612710e+09,Fort Wayne,Mad Ants,FWN,mad-ants,1626176.0,Rakeem,Christmas,R. Christmas,...,12.5,0.583,0.654,0.198,0.203,96.89,95.65,79.70,63.0,0.127
3,2021500216,1.612710e+09,Fort Wayne,Mad Ants,FWN,mad-ants,1627215.0,Walt,Lemon Jr.,W. Lemon Jr.,...,15.8,0.500,0.505,0.186,0.189,100.44,98.61,82.18,68.0,0.150
4,2021500216,1.612710e+09,Fort Wayne,Mad Ants,FWN,mad-ants,101249.0,John,Lucas III,J. Lucas III,...,13.6,0.423,0.526,0.173,0.176,102.39,98.78,82.32,81.0,0.067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97297,0022300225,1.610613e+09,Charlotte,Hornets,CHA,hornets,1630550.0,JT,Thor,J. Thor,...,0.0,0.500,0.500,0.106,0.106,97.36,95.93,79.94,44.0,0.059
97298,0022300225,1.610613e+09,Charlotte,Hornets,CHA,hornets,1641733.0,Nick,Smith Jr.,N. Smith Jr.,...,0.0,1.000,1.000,0.500,0.500,93.42,87.80,73.17,2.0,0.100
97299,0022300225,1.610613e+09,Charlotte,Hornets,CHA,hornets,1630547.0,James,Bouknight,J. Bouknight,...,0.0,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.0,0.000
97300,0022300225,1.610613e+09,Charlotte,Hornets,CHA,hornets,1630177.0,Theo,Maledon,T. Maledon,...,0.0,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.0,0.000
97301,0022300225,1.610613e+09,Charlotte,Hornets,CHA,hornets,1629023.0,P.J.,Washington,P. Washington,...,0.0,0.000,0.000,0.000,0.000,0.00,0.00,0.00,0.0,0.000

In [14]:
len(gameslist)

NameError: name 'gameslist' is not defined

In [15]:
result_df[result_df['teamid'].isnull()]

,gameid,teamid,teamcity,teamname,teamtricode,teamslug,personid,firstname,familyname,namei,...,turnoverratio,effectivefieldgoalpercentage,trueshootingpercentage,usagepercentage,estimatedusagepercentage,estimatedpace,pace,paceper40,possessions,pie
52,0029400642,NaN,None,None,None,None,NaN,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,0028400640,NaN,None,None,None,None,NaN,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,0028300638,NaN,None,None,None,None,NaN,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,0048900035,NaN,None,None,None,None,NaN,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
592,0029400358,NaN,None,None,None,None,NaN,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97053,0028500245,NaN,None,None,None,None,NaN,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97173,0029200112,NaN,None,None,None,None,NaN,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97246,0028300603,NaN,None,None,None,None,NaN,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97247,0028500070,NaN,None,None,None,None,NaN,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97248,0029201047,NaN,None,None,None,None,NaN,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
nbaapi.playergamelogs.PlayerGameLogs(date_from_nullable='10/20/2000',
    date_to_nullable='12/31/2001',  
    season_nullable='2000-01').get_data_frames()[0].sort_values('GAME_DATE')

,SEASON_YEAR,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,NBA_FANTASY_PTS,DD2,TD3,WNBA_FANTASY_PTS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK,AVAILABLE_FLAG,MIN_SEC
23972,2000-01,251,Sean Elliott,Sean,1610612759,SAS,San Antonio Spurs,0020000009,2000-10-31T00:00:00,SAS vs. IND,W,25.645000,3,7,0.429,2,4,0.500,2,2,1.000,0,0,0,2,0,0,0,0,4,0,10,11,13.0,0,0,14.0,1,1,1,1,11048,10068,10857,11237,1254,2058,2291,6583,8212,1,13595,19944,21122,7623,16423,11514,7539,1,18667,165,8809,2992,15064,2081,46,13486,None,25:39
23793,2000-01,673,Alan Henderson,Alan,1610612737,ATL,Atlanta Hawks,0020000004,2000-10-31T00:00:00,ATL vs. CHH,L,35.900000,9,11,0.818,0,0,0.000,5,9,0.556,1,1,2,2,4,3,1,0,4,0,23,-12,36.4,0,0,35.0,1,11963,11963,11963,4998,1294,5916,1253,6642,11355,6642,2061,872,10196,7381,15611,14531,7623,900,555,2810,1,18667,165,1611,21136,3427,2081,46,3002,None,35:54
23792,2000-01,452,Vin Baker,Vin,1610612760,SEA,Seattle SuperSonics,0020000013,2000-10-31T00:00:00,SEA @ VAN,L,37.473333,7,16,0.438,0,0,0.000,5,6,0.833,2,5,7,1,3,1,4,1,3,0,19,-3,40.9,0,0,37.0,1,11963,11963,11963,4069,2828,2449,11104,6642,11355,6642,2061,2259,6470,3870,3997,4027,11220,2182,4616,257,15185,14225,165,2930,14292,2321,2081,46,2491,None,37:28
23791,2000-01,764,David Robinson,David,1610612759,SAS,San Antonio Spurs,0020000009,2000-10-31T00:00:00,SAS vs. IND,W,31.111667,5,9,0.556,0,0,0.000,12,12,1.000,1,8,9,0,1,1,3,1,2,0,22,18,43.8,0,0,39.0,1,1,1,1,7743,5569,8143,5547,6642,11355,6642,99,279,1,7381,1166,2244,16481,9383,4616,543,15185,8838,165,1863,1031,1780,2081,46,2054,None,31:07
23790,2000-01,1517,Bobby Jackson,Bobby,1610612758,SAC,Sacramento Kings,0020000006,2000-10-31T00:00:00,SAC @ CHI,W,36.233333,5,9,0.556,1,3,0.333,3,3,1.000,0,4,4,6,1,4,0,1,4,0,14,18,38.8,0,0,33.0,1,1,1,1,4795,5569,8143,5547,2963,3416,4566,4676,7041,1,13595,5746,9016,1727,9383,172,7539,15185,18667,165,5590,1031,2829,2081,46,3606,None,36:14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,2000-01,213,Antonio Davis,Antonio,1610612761,TOR,Toronto Raptors,0020001182,2001-04-18T00:00:00,TOR @ WAS,W,31.468333,5,12,0.417,0,0,0.000,0,0,0.000,2,8,10,1,1,1,0,1,3,0,10,5,25.5,1,0,23.0,1,1,1,1,7541,5569,5057,11927,6642,11355,6642,13632,14518,13632,3870,1166,1630,11220,9383,4616,7539,15185,14225,165,8809,6400,7741,1,46,7894,None,31:28
142,2000-01,1497,Chauncey Billups,Chauncey,1610612750,MIN,Minnesota Timberwolves,0020001185,2001-04-18T00:00:00,MIN @ DAL,L,19.250000,8,13,0.615,3,4,0.750,2,2,1.000,0,1,1,2,0,1,0,1,1,0,21,13,28.2,0,0,29.0,1,11963,11963,11963,15112,1945,4248,3880,451,2058,1303,6583,8212,1,13595,15611,17898,7623,16423,4616,7539,15185,3659,165,2205,2218,6459,2081,46,5050,None,19:15
141,2000-01,702,Voshon Lenard,Voshon,1610612743,DEN,Denver Nuggets,0020001186,2001-04-18T00:00:00,DEN vs. SAC,W,27.966667,5,14,0.357,3,7,0.429,0,0,0.000,0,4,4,7,3,1,0,0,2,0,13,13,28.3,0,0,29.0,1,1,1,1,9607,5569,3540,14402,451,395,4073,13632,14518,13632,13595,5746,9016,1164,2182,4616,7539,1,8838,165,6325,2218,6408,2081,46,5050,None,27:58
152,2000-01,239,Darrick Martin,Darrick,1610612758,SAC,Sacramento Kings,0020001186,2001-04-18T00:00:00,SAC @ DEN,L,21.033333,4,8,0.500,2,3,0.667,5,6,0.833,0,3,3,3,1,0,0,1,3,0,15,0,22.1,0,0,23.0,1,11963,11963,11963,14002,7605,9408,6674,1254,3416,1504,2061,2259,6470,13595,8242,11534,5270,9383,11514,7539,15185,14225,165,4959,10979,9501,2081,46,7894,None,21:02
0,2000-01,920,A.C. Green,A.C.,1610612748,MIA,Miami Heat,0020001183,2001-04-18T00:00:00,MIA @ ORL,W,37.973333,8,15,0.533,0,0,0.000,3,3,1.000,8,6,14,5,2,2,0,2,1,0,19,8,47.3,1,0,42.0,1,1,1,1,3764,1945,2955,6349,6642,11355,6642,4676,7041,1,33,2719,360,2533,4796,1676,7539,21285,3659,165,2930,4471,1253,1,46,1451,None,37:58