In [17]:
import nba_api.stats.endpoints as nbaapi
import rdshelp

# ‚úÖ RDS CONNECTION NOW WORKING! (Fixed security group)
print("üîç Testing RDS connection after security group fix...")

conn = rdshelp.connect_to_rds('thebigone', 'ajwin', 'CharlesBark!23', 'nba-rds-instance.c9wwc0ukkiu5.us-east-1.rds.amazonaws.com')

üîç Testing RDS connection after security group fix...
Connected to RDS PostgreSQL database
Connected to RDS PostgreSQL database

In [ ]:
gamefinder = nbaapi.leaguegamefinder.LeagueGameFinder(
                            league_id_nullable='00',
                            season_nullable='2024-2025')

In [16]:
gamefinder.get_data_frames()[0].to_csv('test.csv')

In [ ]:
# Query all public tables in the connected RDS database
import pandas as pd

query = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public'
ORDER BY table_name;
"""

with conn.cursor() as cur:
    cur.execute(query)
    tables = cur.fetchall()
    table_list = [row[0] for row in tables]
    print("Public tables in the database:")
    print(table_list)

Public tables in the database:
['boxscoreadvancedv3_playerstats', 'gleague_games', 'gleague_players', 'gleague_teams', 'mastergames', 'masterplayers', 'nba_games', 'nba_players', 'nba_teams', 'test_games_g_league', 'test_games_nba', 'test_games_wnba', 'wnba_games', 'wnba_players', 'wnba_teams']

In [21]:
# Query all games from test_games_nba and display as a DataFrame
query = "SELECT * FROM wnba_games;"

games_df = None
with conn.cursor() as cur:
    cur.execute(query)
    rows = cur.fetchall()
    colnames = [desc[0] for desc in cur.description]
    games_df = pd.DataFrame(rows, columns=colnames)
    print(f"Pulled {len(games_df)} rows from test_games_nba.")
    display(games_df.head())

Pulled 6810 rows from test_games_nba.

,game_id,season_id,game_date,home_team_id,home_team_abbreviation,home_team_name,away_team_id,away_team_abbreviation,away_team_name,matchup,home_wl,away_wl,season_type,league_name,created_at,updated_at
0,1029700110,101997,1997-08-24,1611661320,LAS,Los Angeles Sparks,1611661317,PHO,Phoenix Mercury,PHO vs. LAS,L,W,Regular Season,WNBA,2025-08-11 19:04:44.047278,2025-08-11 19:04:44.047278
1,1029700111,101997,1997-08-24,1611661314,CHA,Charlotte Sting,1611661319,UTA,Utah Starzz,UTA @ CHA,W,L,Regular Season,WNBA,2025-08-11 19:04:44.047278,2025-08-11 19:04:44.047278
2,1029700109,101997,1997-08-24,1611661315,CLE,Cleveland Rockers,1611661313,NYL,New York Liberty,NYL vs. CLE,L,W,Regular Season,WNBA,2025-08-11 19:04:44.047278,2025-08-11 19:04:44.047278
3,1029700112,101997,1997-08-24,1611661318,SAC,Sacramento Monarchs,1611661316,HOU,Houston Comets,HOU vs. SAC,W,L,Regular Season,WNBA,2025-08-11 19:04:44.047278,2025-08-11 19:04:44.047278
4,1029700108,101997,1997-08-23,1611661315,CLE,Cleveland Rockers,1611661313,NYL,New York Liberty,NYL @ CLE,W,L,Regular Season,WNBA,2025-08-11 19:04:44.047278,2025-08-11 19:04:44.047278