In [7]:
# Import required libraries
from nba_api.stats.endpoints import commonplayerinfo
import pandas as pd
pd.set_option("display.max_columns", None)  # Show all columns
# Pull CommonPlayerInfo endpoint into a DataFrame
# Using LeBron James as an example (Player ID: 2544)
player_info = commonplayerinfo.CommonPlayerInfo(
    player_id='2544'  # LeBron James
)

# Get the DataFrame
player_info_df = player_info.get_data_frames()[0]

print(f"Player info retrieved for player ID: 2544")
print(f"Columns: {list(player_info_df.columns)}")
player_info_df

Player info retrieved for player ID: 2544
Columns: ['PERSON_ID', 'FIRST_NAME', 'LAST_NAME', 'DISPLAY_FIRST_LAST', 'DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FI_LAST', 'PLAYER_SLUG', 'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'LAST_AFFILIATION', 'HEIGHT', 'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'ROSTERSTATUS', 'GAMES_PLAYED_CURRENT_SEASON_FLAG', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CODE', 'TEAM_CITY', 'PLAYERCODE', 'FROM_YEAR', 'TO_YEAR', 'DLEAGUE_FLAG', 'NBA_FLAG', 'GAMES_PLAYED_FLAG', 'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER', 'GREATEST_75_FLAG']

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,LAST_AFFILIATION,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,ROSTERSTATUS,GAMES_PLAYED_CURRENT_SEASON_FLAG,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,TEAM_CITY,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GREATEST_75_FLAG
0,2544,LeBron,James,LeBron James,"James, LeBron",L. James,lebron-james,1984-12-30T00:00:00,St. Vincent-St. Mary HS (OH),USA,St. Vincent-St. Mary HS (OH)/USA,6-9,250,22,23,Forward,Active,N,1610612747,Lakers,LAL,lakers,Los Angeles,lebron_james,2003,2025,N,Y,Y,2003,1,1,Y

In [19]:
# Import and use CommonTeamRoster endpoint
from nba_api.stats.endpoints import commonteamroster

# Get team roster for Lakers (Team ID: 1610612747)
team_roster = commonteamroster.CommonTeamRoster(
    team_id='1610612747',  # Lakers
    season='2024-25'
)

# Get the roster DataFrame
roster_df = team_roster.get_data_frames()[0]

print(f"Team roster retrieved for Lakers (Team ID: 1610612747)")
print(f"Number of players: {len(roster_df)}")
print(f"Columns: {list(roster_df.columns)}")
roster_df

Team roster retrieved for Lakers (Team ID: 1610612747)
Number of players: 17
Columns: ['TeamID', 'SEASON', 'LeagueID', 'PLAYER', 'NICKNAME', 'PLAYER_SLUG', 'NUM', 'POSITION', 'HEIGHT', 'WEIGHT', 'BIRTH_DATE', 'AGE', 'EXP', 'SCHOOL', 'PLAYER_ID', 'HOW_ACQUIRED']

,TeamID,SEASON,LeagueID,PLAYER,NICKNAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID,HOW_ACQUIRED
0,1610612747,2024,00,Jarred Vanderbilt,Jarred,jarred-vanderbilt,2,F,6-8,214,"APR 03, 1999",26.0,6,Kentucky,1629020,Traded from UTA on 02/09/23
1,1610612747,2024,00,Dalton Knecht,Dalton,dalton-knecht,4,F,6-6,215,"APR 19, 2001",24.0,R,Tennessee,1642261,#17 Pick in 2024 Draft
2,1610612747,2024,00,Gabe Vincent,Gabe,gabe-vincent,7,G,6-2,200,"JUN 14, 1996",29.0,5,California-Santa Barbara,1629216,Signed on 07/06/23
3,1610612747,2024,00,Bronny James,Bronny,bronny-james,9,G,6-3,210,"OCT 06, 2004",20.0,R,Southern California,1642355,#55 Pick in 2024 Draft
4,1610612747,2024,00,Christian Koloko,Christian,christian-koloko,10,C,7-0,225,"JUN 20, 2000",25.0,1,Arizona,1631132,Signed on 09/16/24
5,1610612747,2024,00,Jaxson Hayes,Jaxson,jaxson-hayes,11,C-F,7-0,220,"MAY 23, 2000",25.0,5,Texas,1629637,Signed on 07/06/23
6,1610612747,2024,00,Maxi Kleber,Maxi,maxi-kleber,14,F,6-10,240,"JAN 29, 1992",33.0,7,Bayern Munich,1628467,Traded from DAL on 02/02/25
7,1610612747,2024,00,Austin Reaves,Austin,austin-reaves,15,G,6-5,197,"MAY 29, 1998",27.0,3,Oklahoma,1630559,Signed on 08/03/21
8,1610612747,2024,00,Dorian Finney-Smith,Dorian,dorian-finney-smith,17,F,6-7,220,"MAY 04, 1993",32.0,8,Florida,1627827,None
9,1610612747,2024,00,Shake Milton,Shake,shake-milton,20,G,6-5,205,"SEP 26, 1996",28.0,6,Southern Methodist,1629003,None
10,1610612747,2024,00,LeBron James,LeBron,lebron-james,23,F,6-9,250,"DEC 30, 1984",40.0,21,St. Vincent-St. Mary HS (OH),2544,Signed on 07/09/18
11,1610612747,2024,00,Alex Len,Alex,alex-len,27,C,7-0,250,"JUN 16, 1993",32.0,11,Maryland,203458,Signed on 02/11/25
12,1610612747,2024,00,Rui Hachimura,Rui,rui-hachimura,28,F,6-8,230,"FEB 08, 1998",27.0,5,Gonzaga,1629060,Traded from WAS on 01/23/23
13,1610612747,2024,00,Jordan Goodwin,Jordan,jordan-goodwin,30,G,6-5,215,"OCT 23, 1998",26.0,3,St. Louis,1630692,None
14,1610612747,2024,00,Trey Jemison III,Trey,trey-jemison-iii,55,C,6-11,270,"NOV 28, 1999",25.0,1,Alabama-Birmingham,1641998,None
15,1610612747,2024,00,Luka Dončić,Luka,luka-dončić,77,F-G,6-6,230,"FEB 28, 1999",26.0,6,Real Madrid,1629029,Traded from DAL on 02/02/25
16,1610612747,2024,00,Markieff Morris,Markieff,markieff-morris,88,F,6-9,245,"SEP 02, 1989",35.0,13,Kansas,202693,Traded from DAL on 02/02/25

In [17]:
# Import and use CommonAllPlayers endpoint
from nba_api.stats.endpoints import commonallplayers

# Get all players for the 2024-25 season
all_players = commonallplayers.CommonAllPlayers(
    league_id='00',  # NBA
    season='2024-25',
    is_only_current_season='0'  # Get all players who played in that season
)

# Get the players DataFrame
all_players_df = all_players.get_data_frames()[0]

print(f"All players retrieved for 2024-25 season")
print(f"Total players found: {len(all_players_df)}")
print(f"Columns: {list(all_players_df.columns)}")
all_players_df

All players retrieved for 2024-25 season
Total players found: 5113
Columns: ['PERSON_ID', 'DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FIRST_LAST', 'ROSTERSTATUS', 'FROM_YEAR', 'TO_YEAR', 'PLAYERCODE', 'PLAYER_SLUG', 'TEAM_ID', 'TEAM_CITY', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CODE', 'TEAM_SLUG', 'GAMES_PLAYED_FLAG', 'OTHERLEAGUE_EXPERIENCE_CH']

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,PLAYER_SLUG,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,TEAM_SLUG,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
0,76001,"Abdelnaby, Alaa",Alaa Abdelnaby,0,1990,1994,HISTADD_alaa_abdelnaby,alaa_abdelnaby,0,,,,,None,Y,00
1,76002,"Abdul-Aziz, Zaid",Zaid Abdul-Aziz,0,1968,1977,HISTADD_zaid_abdul-aziz,zaid_abdul-aziz,0,,,,,None,Y,00
2,76003,"Abdul-Jabbar, Kareem",Kareem Abdul-Jabbar,0,1969,1988,HISTADD_kareem_abdul-jabbar,kareem_abdul-jabbar,0,,,,,None,Y,00
3,51,"Abdul-Rauf, Mahmoud",Mahmoud Abdul-Rauf,0,1990,2000,mahmoud_abdul-rauf,mahmoud_abdul-rauf,0,,,,,None,Y,00
4,1505,"Abdul-Wahad, Tariq",Tariq Abdul-Wahad,0,1997,2003,tariq_abdul-wahad,tariq_abdul-wahad,0,,,,,None,Y,00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5108,78650,"Zunic, Matt",Matt Zunic,0,1948,1948,HISTADD_matt_zunic,matt_zunic,0,,,,,None,Y,00
5109,1641783,"da Silva, Tristan",Tristan da Silva,1,2024,2025,tristan_da_silva,tristan_da_silva,1610612753,Orlando,Magic,ORL,magic,magic,Y,00
5110,1628427,"Čančar, Vlatko",Vlatko Čančar,1,2019,2025,vlatko_cancar,vlatko_čančar,1610612743,Denver,Nuggets,DEN,nuggets,nuggets,Y,01
5111,1642365,"Đurišić, Nikola",Nikola Đurišić,0,2025,2025,nikola_durisic,nikola_đurišić,0,,,,,None,N,11
5112,203967,"Šarić, Dario",Dario Šarić,1,2016,2025,dario_saric,dario_šarić,1610612743,Denver,Nuggets,DEN,nuggets,nuggets,Y,00