In [ ]:
import nba_api.stats.endpoints as nbaapi
import pandas as pd
#         ("PlayerDashboardByClutch", {"player_id": 2544, "last_n_games": 30}, True),
# test
df = nbaapi.playerdashboardbygamesplits.PlayerDashboardByGameSplits(player_id=2544,date_from_nullable='2024-11-25',date_to_nullable='2024-11-30').get_data_frames()[3]

In [49]:
df

,GROUP_SET,GROUP_VALUE,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,NBA_FANTASY_PTS,DD2,TD3,WNBA_FANTASY_PTS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK,TEAM_COUNT
0,By Score Margin,Tied,3,1,2,0.333,4.641667,0,0,0.000,0,0,0.000,0,0,0.0,0,1,1,2,0,0,0,0,0,0,0,-5,4.2,2,1,3.0,1,1,4,3,5,6,6,6,3,5,3,3,3,3,4,6,6,4,3,2,2,1,1,5,6,3,6,1,1,6,1
1,By Score Margin,1 - 5 Points,3,1,2,0.333,48.753333,8,21,0.381,1,7,0.143,2,2,1.0,1,12,13,9,10,0,0,0,0,3,19,-40,38.1,2,1,42.0,1,1,4,3,1,1,1,4,1,1,2,1,1,1,2,1,1,2,1,2,2,1,1,1,1,6,1,1,1,1,1
2,By Score Margin,6 - 10 Points,3,1,2,0.333,17.928333,4,10,0.400,0,1,0.000,0,0,0.0,2,2,4,10,0,0,0,1,0,1,8,32,27.8,2,1,22.0,1,1,4,3,3,3,3,3,3,4,3,3,3,3,1,3,2,1,3,2,2,4,1,3,3,1,2,1,1,3,1
3,By Score Margin,11 - 15 Points,2,1,1,0.500,19.331667,6,11,0.545,0,2,0.000,0,0,0.0,1,3,4,4,5,1,1,1,0,1,12,-13,23.8,2,1,24.0,4,1,1,1,2,2,2,2,3,3,3,3,3,3,2,2,2,3,2,1,1,4,1,3,2,5,3,1,1,2,1
4,By Score Margin,16 - 20 Points,2,1,1,0.500,3.333333,1,1,1.000,0,0,0.000,0,0,0.0,0,2,2,1,0,0,0,0,0,0,2,-8,5.9,2,1,5.0,4,1,1,1,6,4,5,1,3,5,3,3,3,3,4,3,4,5,3,2,2,1,1,5,5,4,5,1,1,5,1
5,By Score Margin,more than 20 Points,1,0,1,0.000,7.350000,1,4,0.250,1,3,0.333,2,2,1.0,0,2,2,1,0,0,0,1,0,2,5,-4,8.9,1,0,9.0,6,6,1,6,4,4,4,5,1,2,1,1,1,1,4,3,4,5,3,2,2,4,1,2,4,2,4,6,6,4,1